:root {
  --bg: #F4F5F5;
  --default-color: #71787C;
  --color: #333333;
  --active-color: #1074FF;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;

  color: var(--color);
  background-color: var(--bg)!important;
}

*>h1:first-child,
*>h2:first-child,
*>h3:first-child,
*>h4:first-child,
*>h5:first-child,
*>h6:first-child {
  margin-top: 0;
}

nav li.active a {
  color: var(--active-color);
  font-weight: bold;
}


